/* APP Styling */
body {
    background-color: #efefef;
    font-family: 'Source Sans 3', sans-serif;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    margin: 1px; 
}

.topBar {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c9c9c9;
}

.sideBar {
    float: left;
    height: 100vh;
    background-color: #000000;
    margin-right: 30px;
    padding: 10px;
    padding-top: 5px;
    align-content: center;
}

.sideImgContainer {
    padding-top: 10px;
    padding-bottom: 20px;
    display: list-item;
    list-style-type: none;
    filter: brightness(1.5);
}

.teamLogo {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color:aliceblue;
    margin: 3px
}

.sideImg {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 3px;
}

.sideImg:hover {
    background-color: #c2360b;
}

/* visualise Styling */

/* upload Styling */

/* veiwData Styling */
.pageContents {
    background-color: white;
    margin: 20px;
    margin-left: 75px;
    padding: 10px;
    width: auto;
    min-height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}

.dataTable {
    table-layout: auto;
    width: 90%;
    text-align: center;
}

/* Error page Styling */
.errorMessage {
    font-size: x-large;
    padding: 100px;
    font-weight: bold;
}