/* APP Styling */
body {
    background-color: #efefef;
    font-family: 'Source Sans 3', sans-serif;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    margin: 1px; 
}

.topBar {
    width: 97vw;
    background-color: white;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    padding-left: 29px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c9c9c9;
}

.sideBar {
    position: fixed;
    float: left;
    min-height: 100vh;
    background-color: #000000;
    margin-right: 30px;
    padding: 10px;
    padding-top: 5px;
    align-content: center;
}

.sideImgContainer {
    padding-top: 10px;
    padding-bottom: 20px;
    display: list-item;
    list-style-type: none;
    filter: brightness(1.5);
}

.teamLogo {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color:aliceblue;
    margin: 3px
}

.sideImg {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 3px;
}

.sideImg:hover {
    background-color: #c2360b;
}

/* visualise Styling */
.addGraphButton {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: #c9c9c9;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.addGraphButton img {
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
}

/* upload Styling */
.fileUploadButton {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.fileUpload {
    margin-bottom: 30px;
}

.fileUpload label {
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #c9c9c9;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.uploadButton {
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #c9c9c9;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
    position: relative;
    padding-top: 25px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}

.fileUpload label:hover {
    background-color: #e33e0c;
}
.uploadButton:hover {
    background-color: #e33e0c;
}



/* veiwData Styling */
.pageContents {
    background-color: white;
    margin: 20px;
    margin-left: 75px;
    padding: 10px;
    width: auto;
    min-height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}

.dataTable {
    table-layout: auto;
    width: 90%;
    text-align: center;
}

/* Error page Styling */
.errorMessage {
    font-size: x-large;
    padding: 100px;
    font-weight: bold;
}